:root {
  --primary-color: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
}

header {
  background-color: rgb(51, 147, 236);
  width: 100;
  padding: 32px;
  text-align: center;

  box-sizing: border-box;
}

.links {
  font-size: 18px;
}

.links a {
  position: relative;
  color: rgb(221, 221, 221);
  text-decoration: none;
}

.links a + a {
  margin-left: 24px;
}

.links .active {
  color: var(--primary-color);
  font-weight: bold;
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -4px;
  right: 0;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out; 
}