<div class="item">
  <div>Nome</div>
  <div>
    <input 
      type="text" 
      name="name" 
      placeholder="Nome do professor" 
      value="{{ teacher.name }}"
    >
  </div>
</div>

<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="https://" 
      value="{{ teacher.avatar_url }}"
    >
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth" 
      value="{{ teacher.birth }}"
    >
  </div>
</div>

<div class="item">
  <div>Ano Escolar</div>
  <div>
    <select name="educational_level">
      <option 
        value="1"
      >Ensino Médio Completo
      </option>
      <option 
        value="2" 
        {% if teacher.educational_level == 2 %}selected{% endif %}
      >Ensino Superior Completo
      </option>
      <option
        value="3" 
        {% if teacher.educational_level == 3 %}selected{% endif %}
      >Mestrado
      </option>
      <option 
        value="4" 
        {% if teacher.educational_level == 4 %}selected{% endif %}
      >Doutorado
      </option>
    </select>
  </div>
</div>

<div class="item">
  <div>Tipo de aula</div>
  <div>
    <span>
      <input 
        type="radio" 
        name="type" 
        value="Presencial" 
        {% if teacher.type == "Presencial" %} 
          checked
        {% endif %}
      >Presencial
    </span>
    <span>
      <input 
        type="radio" 
        name="type" 
        value="Online" 
        {% if teacher.type == "Online" %} 
          checked
        {% endif %}
      >Online
    </span>
  </div>
</div>

<div class="item">
  <div>Acompanhamento</div>
  <div>
    <input 
      type="text" 
      name="subjects" 
      placeholder="Separe as matérias com uma vírgula" 
      value="{{ teacher.subjects }}"
    >
  </div>
</div>

<button type="submit">Salvar</button>