{% extends "layout.njk" %}

{% block head %}
  <title>Teachers</title>
{% endblock%}

{% block content %}
  <div class="card table-container">
    <div class="header">
      <a href="/teachers/create" class="new-button">Novo</a>
      <form action="/teachers" method="GET">
        <input 
          type="text" 
          name="filter"
          value="{{filter}}"
          placeholder="Nome ou Matéria"
        >
        <button type="submit">Filtrar</button>
      </form>
    </div>
    <table width="100%">
      <thead>
        <tr>
          <th>Nome do Professor</th>
          <th>Acompanhamento</th>
          <th>Estudantes</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for teacher in teachers %}
        <tr>
          <td>            
            <span style=" background-image:url({{ teacher.avatar_url }})"></span> 
            {{ teacher.name }}
          </td>
          <td>
            {{ teacher.subjects_taught }}
          </td>
          <td>
            {{ teacher.total_students }}
          </td>
          <td><a href="/teachers/{{ teacher.id }}">Ver mais</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock%}