{% extends "layout.njk" %}

{% block head %}
  <title>Teachers</title>
{% endblock%}

{% block content %}
<form action="/teachers" method="POST">
  <div class="card">
    <section 
      class="avatar"
      style="background: url({{ instructor.avatar_url }}) no-repeat center center / cover">
    </section>

    <section class="details">

      <h3>Editar professor</h3>

      {% include "teachers/fields.njk" %}

      <button type="submit">SALVAR</button>
      
    </section>
  </div>
</form>
{% endblock%}